<mat-card>
  <h1>Welcome</h1>
  <p>Please fill the details to sign-up:</p>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <input matInput name="email" placeholder="Email" formControlName="email">
    <mat-error *ngIf="registerForm.get('email').errors?.required">
      Please enter <strong>email</strong>
   </mat-error>
   <mat-error *ngIf="registerForm.get('email').errors?.email">
    Please enter a valid <strong>email</strong>
 </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput name="password" placeholder="Password" formControlName="password">
    <mat-error *ngIf="registerForm.get('password').errors?.required || registerForm.get('password').errors?.minlength">
      Please enter <strong>password</strong>
   </mat-error>
  </mat-form-field>
  <span class="error">{{error}}</span>
  <button mat-raised-button color="primary">sign up</button>
</form>
<a routerLink="/sign-in" class="goto">Already have an account? Sign In</a>
</mat-card>
